html,body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0; 
    height: 100%; 
    max-width: 100%;
    overflow-x: hidden;
    background-color: #505250;
    color:white;
}
.title{
    text-align: center;
    margin-top: 1%;
    font-size:22px;
}
.wrapper{
    height: 98%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 30% 30% auto;
    grid-template-rows: 10% 25% 20% 5% 20% auto;
    grid-gap: 3px;
}
.header{
    background-color: rgb(51, 51, 51);
    grid-column-start: 1;
    grid-column-end:4;
    margin-bottom: 3px;
}
.container{
    border-radius: 25px;
    background: rgb(51, 51, 51);
}
.map-holder{
    margin-left: 3px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
.pca{
    margin-right: 3px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.sexChart{
    margin-left: 3px;
    margin-bottom: 3px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: -1;
}
.ageChart{
    margin-bottom: 3px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: -1;
}
.radarChart{
    margin-right: 3px;
    margin-bottom: 3px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: -1;
}
.scatterPlot{
    margin-right: 3px;
    margin-bottom: 3px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: -1;
}
.svg-container {
    display: inline-block;
    position: relative;
    /*width: 100%;*/
    /*padding-bottom: 100%;*/
    vertical-align: center;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}



/* commons */
.axis-text{
    fill: white;
    font-size: 16px;
    font-family: sans-serif;
}

.axis-label, .bar-value-sex, .bar-value-age{
    fill: white;
    font-size: 20px;
    font-family: sans-serif;
}



/* map */
#map {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.countries {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}
.legendThreshold {
    font-size: 12px;
    font-family: sans-serif;
}
.caption {
    fill: black;
    text-anchor: start;
    font-weight: bold;
}
.tooltip {
    line-height: 1;
    padding: 12px;
    background: rgba(43,43,43, 0.8);
    color: #fff;
    border-radius: 2px;
}



/* bar chart */
.grid-barchart {
    fill: rgb(110, 110, 110);
}
.divergence-age, .divergence-sex{
    fill: white;
}




/* scatter Plot */
.selected {
    opacity: 1 !important;
    stroke: black;
    stroke-width: 1px;
}
