html,body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0; 
    height: 100%; 
    max-width: 100%;
    overflow-x: hidden;
    background-color: #505250;
    color:white;
}
.wrapper{
    height: 98%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 20% 25% 10% auto;
    grid-template-rows: 7% 25% 23% auto;
    grid-gap: 3px;
}
.header{
    background-color: rgb(51, 51, 51);
    grid-column-start: 1;
    grid-column-end:5;
    margin-bottom: 3px;
    display:inline;
}
.container{
    border-radius: 25px;
    background: rgb(51, 51, 51);
}
.map-holder{
    margin-left: 3px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
.map-legend{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.scatterPlot{
    margin-right: 3px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}
.sexChart{
    margin-left: 3px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: -1;
}
.ageChart{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: -1;
}
.radar-pca{
    margin-right: 3px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: -1;
}
.svg-container {
    display: inline-block;
    position: relative;
    /*width: 100%;*/
    /*padding-bottom: 100%;*/
    vertical-align: center;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    background: rgb(51, 51, 51);
    border: 1px solid darkgray;
    top: 0;
    left: 0;
}


/* header */
.title{
    text-align: center;
    margin-top: 0.6%;
    font-size:28px;
}
.left-header{
    position:absolute;
    top: 0;
    left: 0;
    margin-top: 1%;
    margin-left: 0.8%;
    font-size: 18px;
    width: 160px;
}
.right-header{
    position:absolute;
    top: 0;
    right: 0;
    margin-top: 1%;
    margin-right: 0.8%;
    font-size: 18px;
    width: 160px;
}
.year-selector {
    margin-left: 1%;
    border-width: 0 3px 0 3px;
    border-style: solid;
    border-color: #394a6d;
    border-radius: 2em;
    background-color: rgb(231, 231, 231);
}




/* commons */
.axis-text {
    fill: white;
    font-size: 16px;
    font-family: sans-serif;
}
.axis-label {
    fill: white;
    font-size: 18px;
    font-family: sans-serif;
}
.tick line {
    stroke: lightgray;
    opacity: 0.5;
}
.domain {
    stroke: lightgray;
}
.avg-line {
    stroke: lightgreen;
    stroke-width: 1.5;
}
.avg-label {
    fill: lightgreen;
    font-size: 18px;
}
.avg-line-selected {
    stroke: lightblue;
    stroke-width: 1.5;
}
.avg-label-selected {
    fill: lightblue;
    font-size: 18px;
}
.over-object {
    stroke: rgb(131, 20, 131);  
    stroke-width: 2px;
}
.not-over-object {
    stroke-width: 0px;
}





/* map */
#map {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.countries {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}
.legendThreshold {
    font-size: 12px;
    font-family: sans-serif;
}
.caption {
    fill: black;
    text-anchor: start;
    font-weight: bold;
}
.d3-tip {
    position: absolute;
    padding: 2px;
    line-height: 1;
    background: gray;
    border-radius: 4px;
    font-size: 0.8em;
    color: gainsboro;
}



/* bar chart */
.divergence-age, .divergence-sex, .bar-value-sex, .bar-value-age{
    fill: black;
    font-size: 16px;
    font-family: sans-serif;
}
.sexBars-filtered, .ageBars-filtered  {
    stroke: black;
    stroke-width: 1.5;
}
.selected-bar {
    stroke: lightblue;
    stroke-width: 3;
}





/* scatter Plot */
.tooltip-scatter {
    position: absolute;
    padding: 7px;
    font-size: 0.8em;
    color: rgb(61, 61, 61);
    pointer-events: none;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}
.avg-scatter {
    position: absolute;
    right: 30%;
    top: 51%;
    font-size: 16px;
    width: 210px;
    color: black;
    border-color: #394a6d;
    border-width: 0 3px 0 3px;
    background-color: rgb(231, 231, 231);
}
.button-brush {
    position: absolute;
    right: 1.5%;
    top: 51%;
    font-size: 14px;
    width: 120px;
    border-width: 0 3px 0 3px;
    border-style: solid;
    border-color: #394a6d;
    border-radius: 2em;
    background-color: rgb(231, 231, 231);
}
.toggle-brush {
    background-color: lightseagreen;
}
